<div class="row">
  <div class="col-md-6 col-sm-6 mx-auto mb-3">
    <form class="d-flex" role="search" (ngSubmit)="searchMovie()">
      <input
        class="form-control me-2"
        type="text"
        placeholder="Search"
        aria-label="Search"
        name="query"
        [(ngModel)]="query"
      />

      <button class="custom-button" type="submit">Search</button>
    </form>
  </div>
</div>

<ng-container *ngIf="movieList; else loading">
    <div class="d-flex justify-content-center">
        <ngb-pagination
          [boundaryLinks]="true"
          [page]="movieList.page"
          [pageSize]="pageSize"
          [collectionSize]="getMaxCollectionSize(movieList.total_pages)"
          [maxSize]="3"
          [rotate]="true"
          (pageChange)="changePage($event)"
        ></ngb-pagination>

    </div>
  <app-movie-container [movies]="movieList.results"></app-movie-container>
</ng-container>

<ng-template #loading> 
    <app-spinner></app-spinner> 
</ng-template>
