<div class="row d-flex justify-content-center mt-5">
  <div class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="spinner-grow text-secondary"></div>
  <div class="spinner-grow text-success"></div>
  <div class="spinner-grow text-danger"></div>
  <div class="spinner-grow text-warning"></div>
  <div class="spinner-grow text-info"></div>
  <div class="spinner-grow text-light"></div>
  <div class="spinner-grow text-dark"></div>
</div>
  
  
